.chat-content {
    position: relative;
    bottom: 0;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

.message {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    width: fit-content;
    font-size: 14px;
    color: #383e49;
    border-radius: 12px;
    background-color: #bfae74;
    padding: 0.5rem;
}

.right {
    align-self: flex-end;
    background-color: #FFD700;
}

.message-text {
    font-weight: bold;
}

.message-time {
    font-size: 10px;
}